.container {
  width: fit-content;
  margin: 0 auto;
}

.sizeInput {
  width: 100%;
}

.icon {
  width: 2.5vw;
  height: 2.5vw;
}

.specItem {
  display: flex;
  margin-bottom: .1em;
}

.specNumber {
  width: 2.25em;
  height: 2.25em;
  border: 1px solid #000;
  border-radius: 10%;
  margin-right: .1em;
  background-color:blanchedalmond;
}

.specNumber p {
  height: 2.25em;
  line-height: 2.25em;
  text-align: center;
}

.specDesc {
  height: fit-content;
  margin: auto 0;
  margin-left: .25em;
}

