.container {
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 2vh;
  width: 50vw;
  z-index: 1;
  margin-top: 1vh;
}

.colorPickerToolbar {
  width: 39vw;
  margin-left: 1vw;
}

.colorOptions {
    flex-grow: 1;
}

.color {
  border: none;
  background-color: white;
  margin: 0.2%;
}

.quickView {
    display: flex;
}

.paletteContainer {
    flex-grow: 1;
}

.palette {
    display: flex;
    justify-content: space-between;
}

.expand {
    width: fit-content;
    aspect-ratio: 1;
}