.container {
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 2vh;
  width: 50vw;
  min-height: 10vh;
  z-index: 1;
  margin-top: 1vh;
}

.colorPickerToolbar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 40vw;
  min-height: 10vh;
}

.colorPickerToolbar h5 {
  text-align: end;
}

.colorOptions {
    flex-grow: 1;
}

.color {
  border: none;
  background-color: white;
  margin: 0.2%;
}

.expandedColors {
  border-top: 1px solid black;
  padding-top: 1%;
}

.palette {
  display: flex;
  align-items: flex-end;
}

.main {
  /* display: flex;
    justify-content: space-around;
    flex-grow: 1;
    height:fit-content;
    overflow-x: scroll; */
}

.main button {
  display: inline-block;
}

.recentlyUsedContainer {
  flex-grow: 1;
  height: fit-content;
}

.recentlyUsed {
  /* display: flex;
    justify-content: space-around;
    overflow-x: scroll; */
}

.divider {
  height: 100%;
  width: 1vw;
  background-color: #000;
}
