.container {
  margin-bottom: 2vh;
}

.gaugeContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
}

.gaugeSquare {
  width: 7vw;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lemon-chif);
}

.gaugeLabel {
  display: none;
}

.rowInput,
.stitchInput {
  border: var(--border);
  border-radius: 10%;
  position: absolute;
  text-align: center;
  width: 2.25em;
  height: 2.25em;
  background-color: blanchedalmond;
}

.rowInput {
  display: block;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -33px;
}

.stitchInput {
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0.25vh;
}

.updateBtn {
  display: block;
  margin: 0 0 0 auto;
}

.toast{
  box-shadow: var(--small-shadow);
}
