.container {
    margin-bottom: 2vh;
}

.slider {
    vertical-align: middle;
    margin: 0 .25em;
}

.label {
    opacity: 0;
}

.zoomBtn {
    width: fit-content;
}

.zoomIcon {
    display: block;
    margin: 0 auto;
    margin: .3em;
}