.pixelGridContainer {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.uploadedImageCanvas {
  display: none;
  visibility: hidden;
}

.leftPanel {
  width: 20vw;
  height: 98vh;
  padding: .5em .5em;
  overflow-y: scroll;
}

.centerPanel {
  width: 50vw;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.userOptions {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
}
