.pixelGridContainer {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.uploadedImageCanvas {
  display: none;
  visibility: hidden;
}

.leftPanel {
  width: 20vw;
}

.centerPanel {
  width: 50vw;
}

.rightPanel {
  width: 20vw;
}

.userOptions {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
}
