.uploadedImageCanvas {
  display: none;
  visibility: hidden;
}

.pixelGridContainer {
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--primary-accent);
  height: 68vh;
  overflow: scroll;
}

.pixelGrid {
  margin: 0 auto;
  width: fit-content;
}

.colorCells {
  display: flex;
}

.colorCell {
  position: relative;
  width: 5px;
  border: 0.05px solid black;
}

.hoveredBorder {
  outline: .1vw solid red;
  z-index: 1;
}

.leftGoldBorder {
  border-left: 1.5px solid gold;
}

.bottomGoldBorder {
  border-bottom: 1.5px solid gold;
}

.rightGoldBorder {
  border-right: 1.5px solid gold;
}

.topGoldBorder {
  border-top: 1.5px solid gold;
}

.activePixel {
  border: 0.5px solid gold;
}

.activeColor {
  border: 0.5px solid blue;
}

.activeRow {
  box-shadow: 0 0 4px gold;
  transform: scale(1);
}

.mutedColor {
  background-color: aliceblue;
}

.activeRow {
  border: 0.01% solid gold;
}

.loadingState {
  opacity: 0.5;
}

.loadingBanner {
  display: flex;
  align-items: center;
  opacity: 1;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

.loader {
  width: 2vw;
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 0.5vw solid;
  border-color: red orange yellow green;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
