.container {
  top: 1vh;
  height: 60vh;
  margin-bottom: 1vh;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  overflow-y: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  vertical-align: middle;
  border: none;
  background-color: inherit;
  margin: 0 0.25em;
}

.header button img {
  display: block;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rowController {
  display: flex;
  align-items: center;
}

.rowNumberLabel {
  margin-right: .5em;
}

.colorRow {
  width: 100%;
  display: flex;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  margin: .25em 0;
}

.colorRec {
  height: 20px;
  flex-grow: 1;
}

.colorList {
  background-color: var(--lemon-chif);
  box-shadow: none;
  border: 1px solid #000;
  height: 80%;
  overflow-y: scroll;
  margin-top: .2em;
}

.colorList li {
  display: flex;
  flex-direction: row;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.colorList li p {
  margin-left: 0.5em;
}
