.container {
  margin-bottom: 2vh;
}

.gaugeContainer {
  width: fit-content;
  margin-left: 2vw;
  display: flex;
  align-items: flex-start;
}

.gaugeSquare {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gaugeLabel {
  display: none;
}

.rowInput,
.stitchInput {
  height: 30px;
  width: 50px;
}

.updateBtn {
  display: block;
  margin: 0 0 0 auto;
}

.rowInput::-webkit-outer-spin-button,
.stitchInput::-webkit-inner-spin-button {
  -appearance: none;
  margin: 0;
}

.rowInput,
.stitchInput {
  -appearance: textfield;
}
