.smallImg {
  margin: 0 auto;
  max-width: 20vw;
  max-height: 33vh;
  display: block;
}

.container {
  width: fit-content;
  height: fit-content;
  margin-bottom: 1vh;
}

.innerContainer {
  position: relative;
}

.viewBox {
  position: absolute;
  border: 2px solid gold;
}

.viewBox:hover {
  cursor: grab;
}
