.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.uploadedImageCanvas {
  display: none;
  visibility: hidden;
}

.imageUploadForm input {
  opacity: 0;
}

.imageUploadForm label {
  background-color: #7f9ccb;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}
