.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondary-accent);
}

.imgUploadForm input {
  opacity: 0;
  width: 0;
}

.imgUploadContainer{
  display: block;
  padding: 10vh 20vw;
  background-color: lightgray;
  border-radius: 5px;
  border: 1px dashed black;
  font-size: 0.8rem;
  height: auto;
}
