.container {
  height: 10vh;
  margin-bottom: 1vh;
  overflow-y: scroll;
}

.optionsContainer button {
  margin: 1vh;
}

.active {
  background-color: var(--wine);
  color: #fff;
}

.checkMark {
  margin-left: .25em;
}
