.stitchSlider {
  display: flex;
  flex-direction: column;
}

.pixelGridDetailsContainer {
  /* padding: .2em;
  background-color: var(--primary-color);
  border: 0.1em solid black;
  border-radius: 5px; */
}
