.swatch,
.swatchWithHover {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid black;
  border-radius: 25%;
}

.swatchWithHover:hover,
.emphasized {
  border: 0.1rem solid gold;
}
