.container {
  top: 1vh;
  height: 15vh;
  margin-bottom: 1vh;
}

.headerBtn {
  height: 5vh;
  background-color: #fff;
}

.colorRow {
  width: 100%;
}

.colorRow tbody tr {
  display: flex;
}

.colorRow tbody tr td {
  height: 20px;
  flex-grow: 1;
}

.colorListContainer {
  width: 95%;
  margin: 0 auto;
}

.colorListContainer ul {
  display: flex;
  overflow-x: scroll;
}

.colorListContainer li {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.colorListContainer li p {
  margin-left: 0.5em;
  white-space: nowrap;
}
