.button {
  border: none;
  background-color: var(--peach);
  border-radius: 5px;
  padding: 0.25em 0.5em;
  box-shadow: var(--small-shadow);
}
.disabled {
  cursor: not-allowed;
}

.active:hover {
  cursor: pointer;
  background-color: var(--amaranth);
  color: #fff;
}
