.container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 50vw;
  margin-top: 1vh;
}

.colorPickerToolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 39vw;
  height: 10vh;
  margin-left: 1vw;
}

.colorOptions {
  flex-grow: 1;
}

.color {
  border: none;
  background-color: white;
  margin: 0.2%;
  flex-grow: 1;
}

.quickView {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.palette {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
}

.expandedColors {
  position: absolute;
  width: 39vw;
  bottom: 11vh;
  right: 0;
}

.expand {
  width: fit-content;
  aspect-ratio: 1;
  margin: auto;
  margin-left: .2em;
}
