.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10vw;
    height: 10vh;
    /* overflow-y: scroll; */
    /* height: fit-content; */
}

.container p {
    white-space: nowrap;
    overflow-x: auto;
}

.colorContainer {
    display: flex;
}

.singleColorContainer {
    display: flex;
    margin: 0 auto;
}

.hex {
    display: inline-block;
    margin-left: .1em;
}