.container {
  margin-bottom: 2vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.exclamationRoundIcon {
  vertical-align: middle;
}

.errorMessageContainer {
  position: relative;
  display: block;
}

.errorMessages {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: .5em;
  width: 25vw;
  z-index: 1;
  background-color: #fff;
  border: 1px solid black;
  padding: .2vw;
}

.errorMsgs {
  list-style-position: inside;
}

.updateBtn {
  display: block;
  margin: 0 0 0 auto;
}

.focused {
  box-shadow: var(--highlighted-shadow);
}
